*{
    margin:0;
    padding:0
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}

/*---first section---*/
 
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background:transparent;
   
    justify-content: space-between;
    align-items: center;
    
}

.first  h2{
  font-size: 50px;
  color: whitesmoke;
}
nav{
  display: flex;
  padding: 3% 5%;
  justify-content: space-between;
  align-items: center;
}
nav h3{
  color: rgb(226, 241, 245);
  font-size: 18px ;
  text-transform: uppercase;
 
}
.nav-menu{
  flex: 1;
  text-align: right;
}
.nav-menu ul li{
 
  list-style: none;
  display: inline-block;
  margin: 0px 12px;
  position: relative;
}
.nav-menu ul li a{
  text-decoration: none;
  color: rgb(226, 241, 245);
  font-size: 14px;
  text-transform: uppercase;
}
.nav-menu ul li input{
  width:100px;
  height: auto;
}
.nav-menu ul li::after{
  content:'';
  width:0px;
  height:5px;
  background-color: rgba(253, 250, 250, 0.993);
  display: block;
  margin: auto;
  position: absolute;
  bottom: -5px;
  transition: .5s;
}
.nav-menu ul li:hover::after{
  width:100%;
}
.first{
  background-image: url('./llll.jpg');
  background-color: #08283f;
  background-attachment: fixed;
    background-size: cover;
    height:1200px;
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.hire{
    max-width: 600px;
}
.hire h1{
  color: #D4DEF2;
    font-size: 50px;
}
.hire h3{
  color: #D4DEF2;
    font-size: 30px;
    font-weight: 700;
   
}
.hire p{
  color: #D4DEF2;
    font-size: 16px;
    margin:20px 0 40px;
}
.first .btn{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    width:345px;
    height: 50px;
    
}
.btn a{
    display: inline-flex;
    width: 150px;
    height: 100%;
    background:transparent;
    border:2px solid #00abf0;
    border-radius: 8px;
    color:#d6e4ee;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;

}

   .btn :hover{
    background-color: #18a336;
    
}
  img{
    background: transparent;
    padding-left: 200px;
  }

.flexx{
  margin-top: 5%;
    display: flex;
    justify-content: space-between;
   
}
.flexx img{
  height: 250px;
  margin-top: 0px;
}



@media(max-width:700px){
  .flexx{
    flex-direction: column;
  }
}

@media(max-width:700px){
  .skills{
    flex-direction: column;
  }
}
 /*---About section---*/
 
.about{
   
    width:50%;
    height: auto;
    margin-left: 10%;
}
.about p{
    font-size: 20px;
    text-decoration: none;
}
.about h1{
    font-size: 35px;
   
}

@media only screen and (max-width:600px){
  .ui{
    flex-direction: column;
  }
}
  button{
    background-color: hsl(210, 93%, 44%);
    border-radius: 10%;
  }
  button:hover{
    background-color:  hwb(205 23% 58%);
  }

  /*------- Skill section-----*/

  .skills h1{
    text-align: center;
    margin-top: 5%;
  }
  .skills{
    background-color: #7ba7dd;
    width:100%;
    height: auto;
    padding: 30px;
   
    margin-top: 5%;
  }
.skillrow{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;


}
.load h2{
margin-bottom: 15px;
margin-left: 20px;

}
.myskill h2{
margin-bottom: 15px;
margin-left: 20px;

}
.myskill p{
  font-size: 20px;
  padding: 13px;
  text-align: justify;
  
}
.load li{
  list-style: none;
  margin-top: 20px 0;
  padding: 5%;
}
.load .bar{
  display: block;
  height: 10px;
  width:250px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px #D4DEF2;
}
.load .bar span{
  height: 20px;
  float: left;
  background-color: rgb(24, 116, 208);
}
.html{
  width:95%;
  animation: html 2s;
}
.css{
  width:90%;
  animation: css 2s;
}
.java{
  width:70%;
  animation: java 2s;
}
.jquery{
  width:50%;
  animation: jquery 2s;
}
@keyframes html{
  0%{
    width:0%;
  }
  100%{
    width:95%;
  }
}

@keyframes css{
  0%{
    width:0%;
  }
  100%{
    width:90%;
  }
}


@keyframes jquery{
  0%{
    width:0%;
  }
  100%{
    width:50%;
  }
}
@keyframes java{
  0%{
    width:0%;
  }
  100%{
    width:70%;
  }
}

@media(max-width:700px){
  .skillrow{
    flex-direction: column;
  }
}

  .ux{
      box-sizing: border-box;
      border-left: solid white;
      border-right:  solid white;
      background-color:rgb(233, 247, 247);
      text-align: center;
      margin-left: 40px;
      padding:2%;
      text-align:justify;
      font-size:15pt;
      border-radius: 0px 20px 20px 0px;

  }
  .uxx{
    
    box-sizing: border-box;
    border-left: solid white;
    border-right:  solid white;
    background-color:rgb(233, 247, 247);
    text-align: center;
    margin-left: 40px;
    padding:2%;
    text-align:justify;
    font-size:15pt;
    border-radius: 0px 20px 20px 0px;

  }
  .uxxx{
    
    box-sizing: border-box;
    border-left: solid white;
    border-right:  solid white;
    background-color:rgb(233, 247, 247);
    text-align: center;
    margin-left: 40px;
    padding:2%;
    text-align:justify;
    font-size:15pt;
    border-radius: 0px 20px 20px 0px;

  }
  .ui{
    display:flex;
    padding: 5%;
  }
  .ux:hover{
   background-color:#b4e5f8 ;
  }
  .uxx:hover{
    background-color:#b4e5f8 ;
  }
  .uxxx:hover{
    background-color:#b4e5f8 ;
  }
.service{

  width:100%;
  margin:auto;
  padding-top:100px;
  text-align: center;
}
.service h1{
  font-size: 30px;
  text-decoration: underline;
}
 .service p{
  color:#777;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding: 12px;
 }
 .rong{
  background-color:rgb(99, 149, 180);
 }
.service-collam{
  flex-basis: 30%;
  background: rgb(244, 238, 244); ;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  margin-left: 30px;
  margin-right: 30px;
}
.service-collam h2{
  text-align: center;
  font-weight: 300;
  margin: 10px;
}
 
.service-collam:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}




#flex-container{
  display: flex;
 
  background-size: cover;
  height: 600px;
  align-items: center;
  background-repeat: no-repeat;

  margin-top: 50px;

}
h1{
  text-align: center;
  text-decoration: underline;
}
.p{
  flex:50%
}
button{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  border-radius:10px;
}
button:hover{
  background-color: rgb(165, 159, 159);
}




@media(max-width:600px){
  .footer{
    flex-direction: column;
  }
  .nav{
    font-size: 7px;
  }
}

  .footer{
    background-color: #404447;
    height: 850px;
    margin-top: 30px;
    padding: 30px 20px;
    width:100%;
  }


  .footer h2{
  
    color: whitesmoke;
    font-size: 25px;
  }


  .footer a {
    color: #9adbf5;
    margin-left: 20px;
  
  }
  .icon{
    margin-top: 30px;
    margin-left: 35%;
    padding: ;
  }
.media{
 margin-left: 12%;
  margin-top:10px;
 
}


.icon p{
  color: whitesmoke;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 15px;
}

 .icon .link{
  margin-left: 160px;
  margin-bottom: 40px;
  font-size: 15px;
}
  a i{
    align-items: center;
    font-size: 20px;
    padding: 7px;
    background-color: #087fbf;
    width: 40px;
    border: solid black;
    height: 40px;
    border-radius: 10%;
    padding-left: 1%;
  }
  
  #fname {
    color: rgb(246, 143, 236);
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f69be2;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #lname{
    color: whitesmoke;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e80f0f;
    border-radius: 4px;
    box-sizing: border-box;
  }

#country{

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#messege{
  color: whitesmoke;
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.upp{
  width: 50px;
  height: 70px;
  margin-left: 50%;
  display: block;
 
}

  form{
    width: 50%;
  }
  input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  